body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.text-shadow {
    text-shadow: 3px 3px 3px rosybrown
}
main {
	flex: 1 0 auto;
	background-image: url(/static/images/family.jpeg);
	background-repeat: no-repeat;
	background-size: 600px;
	background-position: center;
    height: 100vh;
	
	
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 48px;
	letter-spacing: 3px;
	color: #006064;
	
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 3px;
	color: #006064;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #006064;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #006064;
}

h5 {
	font-family: 'Gluten', cursive;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #006064;
}
*/
/*----------navbar-----------*/


nav ul li a {
	color: #e0f7fa;
}

nav a i {
	color: #e0f7fa;
}

nav {
	box-shadow: none;
}

.menu {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color:#80deea;
}

.menu a:hover {
	color: #80deea;
	background-color: transparent;
}


/*----------index page-----------*/
a.brand-logo {
	text-transform: uppercase;
	font-family:sans-serif ;
	color:#e0f7fa;
}
.top-text {
	letter-spacing: 7px;
	color: #006064;
	text-transform: uppercase;
}


.headline {
	text-align: center;
	font-size: 54px;
}

.sub-headline {
	margin-top: 3rem;
}

a.btn-small.btn-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----------Places-----------*/
.place-image {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.card .card-title {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 16px;
}

.card .card-title:hover {
	color: #26c6da;
}

.pagination li.active {
	background-color: #26c6da;
}



/*----------footer----------*/
.pagination li i {
    font-size: 2rem;
    color: #006064;
	margin-top: 400px;
	
}

.pagination li i:hover {
 color: #26c6da;
}

@media only screen and (min-width: 992px) {
	.headline {
		margin-top: 6rem;
	}
}

@media (max-width: 768px) {
    
    a.brand-logo {
        font-size: 20px;
        
    }
	a.btn-small.btn-hero {
		top: 70%;
		left: 50%;
	}
}

@media (max-width: 480px) {
    a.brand-logo {
        font-size: 16px;
    }
	.pagination li i {
		margin-top: 100px;
	}
	a.btn-small.btn-hero {
		top: 80%;
		left: 50%;
	}
}