{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Places In India</h3>
    <div class="container">
        <!--search bar-->
        <div class="row">
            <div class="col s12">
                <form action="{{ url_for('search') }}" method="post">
                    <div class="row center-align">
                        <div class="input-field col s12 m8">
                            <i class="fas fa-search prefix grey-text"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search for Places in India</label>
                        </div>
                        <!--reset and search buttons-->
                        <div class="col s12 m4">
                            <button type="submit" class="btn">
                                <i class="fas fa-search left"></i>Search</button>
                                <a href="{{ url_for('get_places' )}}" class="btn">Reset</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--category Links-->

    <ul class="pagination center-align">
        <li class="active"><a href="{{ url_for('get_places') }}">All</a></li>
        <li {% if category == 'Places To Travel' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='Places To Travel') }}">Places To Travel</a></li>
        <li {% if category == 'Most visited places' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='Most visited places') }}">Most Visited Places</a></li>
        <li {% if category == 'Travel Tips' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='Travel Tips') }}">Travel Tips</a></li>
        <li {% if category == 'Activities' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='Activities') }}">Activities</a></li>
        <li {% if category == 'Transport' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='Transport') }}">Transport</a></li>
        <li {% if category == 'India Map' %}class="active"{% endif %}><a href="{{ url_for('filter_places', category='India Map') }}">India Map</a></li>
    </ul>
    <!--all Places-->
    <div class="row">
            {% if places|length > 0 %}
            {% for place in places %}
                <!--places card-->
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator place-image" src="{{ place.image_url }}" alt="image of place">
                        </div>
                        <div class="card-content cyan-text text-darken-4">
                            {{ place.category_name }}
                            <span class="card-title activator ">{{ place.place_name }}</span>
                        </div>
                        <!--Place display-->
                        <div class="card-reveal">
                            <span class="card-title cyan-text text-darken-4">Location<i class="far fa-times-circle right"></i></span>
                            {% for location in place.location.splitlines() %}
                                <div>
                                    <ul>
                                        <li>
                                            {{ location }}
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                            <span class="card-title  cyan-text text-darken-4">Description</span>
                            <div>
                                <ul>
                                    {% for description in place.description.splitlines() %}
                                    <li>{{ description }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                      
            <!--edit/delete place-->
            <div>
               {% if session.user|lower == place.created_by|lower %}
               <a href="{{ url_for('edit_place', place_id=place._id) }}" class="btn-small green">Edit</a>
               <a href="{{ url_for('delete_place', place_id=place._id) }}"
                  class="btn-small red modal-trigger" data-target="modal1{{ place._id }}">Delete</a>
               {% endif %}
               <p><em>by: {{place.created_by}}</em></p>
            </div>
         </div>
      </div>
      <!-- Modal Structure -->
      <div id="modal1{{place._id}}" class="modal">
         <div class="modal-content">
            <h4>Are You Sure You Want To Delete This Added Place?</h4>
            <p>Deleting The Place Will Remove It Permanently</p>
         </div>
         <div class="modal-footer">
            <a href="{{ url_for('delete_place', place_id=place._id) }}" class="modal-close waves-effect
               waves-green btn-flat">Yes</a>
            <a href="{{ url_for('get_places' )}}" class="modal-close waves-effect waves-red
               btn-flat">No</a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
{% else %}
<h4 class="center-align red-text">No Results Found</h4>
{% endif %}
<!--Footer-->
<footer>
    <div class="row">
      <!-- social icons/links -->
      <div class="col s12 pagination center-align">
        <ul class="social-icons">
          <li><a target="_blank" href="https://www.facebook.com" rel="noopener">
            <i class="fab fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li><a target="_blank" href="https://www.instagram.com" rel="noopener">
            <i class="fab fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a target="_blank" href="https://www.twitter.com" rel="noopener">
            <i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li><a target="_blank" href="https://www.travelfairindia.com" rel="noopener">
            <i class="fa-sharp fa-solid fa-flag" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  


{% endblock %}